$def with(books)
$for i in books:
	<div>
	<hr/>
	<span style="float: left; border:1px dotted;"><img width="120px" height="120px"src="$i[1]"></span>
	<span style="">
		<p>
			<span>name:</span>
			<span><a href="/book?id=$i[0]">$i[2]</a></span>
		</p>
		<p>
			<span>author:</span>
			<span>$i[3]</span>
		</p>
		<p>
			<span>country:</span>
			<span>$i[4]</span>
		</p>
		<p>
			<span>language:</span>
			<span>$i[5]</span>
		</p>
		<p>
			<span>comments:</span>
			<span>$i[6]</span>
		</p>
	</span>
	</div>

