$def with(comments)
<div style="margin-top:20%;width:70%">
$if comments != []:
	$for i in comments:
		<div>
			<div>
				<a href="user?id=$i['id']"><b>$i["name"]</b></a>:
				<span style="float:right;color:gray;">$i["time"]
				$if i.get("del",""):
					<a  href="/delete?type=comment&id=$i["id"]" >delete</a>
				</span>
			</div>
			<div class="well" style="margin-left:10%;">
				$i["content"]
			</div>
		</div>
$else:
        <div>
                <div>
                        <b></b>
                        <span style="float:right;color:gray;"></span>
                </div>
                <div class="well" style="margin-left:10%;">
                    Nobody comment
                </div>
        </div>
</div>
