$def with(i,comments,fd)
	<div>
	<hr/>
		<div style="float: left; border:1px dotted;">
			<img width="120px" height="120px"src="$i[1]">
		</div>
		<div style="margin-left: 150px;">
		<ul>
			<li>
				<span>name:</span>
				<span><a href="/moive?id=$i[0]">$i[2]</a></span>
			</li>
			<li>
				<span>director:</span>
				<span>$i[3]</span>
			</li>
			<li>
				<span>date:</span>
				<span>$i[4]</span>
			</li>
			<li>
				<span>language;</span>
				<span>$i[5]</span>
			</li>
			<li>
				<span>length:</span>
				<span>$i[6]</span>
			</li>
			<li>
				<span>actor:</span>
				<span>$i[7]</span>
			</li>
			<li>
				<span>abstract:</span>
				<span>$i[8]</span>
			</li>
		</ul>
			<p>
				<span>comments:</span>
				<span><b>$i[9]</b></span>
			</p>
			<p>
			$if fd == 1:
				<a href="delete?type=moive&id=$i[0]">delete</a>
			</p>
		</div>
	</div>
$:comments
<form action="/moive?id=$i[0]" method="post">
	<textarea style="resize:none;width:70%;" placeholder="Put your comment" name="content"></textarea>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
