$def with(i,comments,fd)
	<div>
	<hr/>
		<div style="float: left; border:1px dotted;">
			<img width="120px" height="120px"src="$i[1]">
		</div>
			<div style="margin-left:150px;">
		<ul>
			<li>
				<span>name:</span>
				<span><a href="/music?id=$i[0]">$i[2]</a></span>
			</li>
			<li>
				<span>singer:</span>
				<span>$i[3]</span>
			</li>
			<li>
				<span>lrc_author:</span>
				<span>$i[4]</span>
			</li>
			<li>
				<span>rhythm_author:</span>
				<span>$i[5]</span>
			</li>
		</ul>
			<p>
				<span>comments</span>
				<span><b>$i[6]</b></span>
			</p>
			<p>
			$if fd == 1:
				<a href="delete?type=music&id=$i[0]">delete</a>
			</p>
		</div>
	</div>
$:comments
<form action="/music?id=$i[0]" method="post">
	<textarea style="resize:none;width:70%;" placeholder="Put your comment" name="content"></textarea>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
