	<form action="/new?type=3" method="post">
		<label>cover</label>
		<input name="url"  placeholder="url" type="url"><br/>
		<label>name:</label>
		<input name="name" placeholder="name" type="text"><br/>
		<label>author:</label>
		<input name="author" placeholder="author" type="text"><br/>
		<label>country:</label>
		<input name="country" placeholder="country" type="text"><br/>
		<label>language:</label>
		<input name="language" placeholder="language" type="text"><br/>
		<button type="submit" class="btn" >Create</button><br/>
	</form>
          
