<div class="hero-unit">	
	<form class="form-horizontal" accept-charset="UTF-8" action="/new?type=music" method="post">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="image">Image</label>
				<div class="controls" style="width:120px;height:120px;">
					<a class="thumbnail">
					<img id="image" src="http://www.gravatar.com/avatar/26b3b6dd1a33cdccf5eff8bb6a0d7204?s=120"></img>
					</a>
				</div>  
			</div>

			<div class="control-group">
				<label class="control-label" for="url">Cover</label>
				<div class="controls">
					<input id="url" name="url"  placeholder="url" type="url">
					<a class="btn" onclick="get_image()">Get</a>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input id="name" name="name" placeholder="name" type="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="singer">Singer</label>
				<div class="controls">
					<input id="singer" name="singer" placeholder="singer" type="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lrc">Lrc</label>
				<div class="controls">
					<input id="lrc" name="lrc" placeholder="lrc_author" type="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="rhythm">Rhythm</label>
				<div class="controls">
					<input id="rhythm" name="rhythm" placeholder="rhythm_author" type="text">
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" >Create</button>
			</div>
		</fieldset>
	</form>
</div>

