$def with(movie,music)
 <div class="hero-unit">	
	<form class="form-horizontal" accept-charset="UTF-8" action="/new?type=mo_mu" method="post">
		<fieldset>	
			<div class="control-group">
				<label class="control-label" for="movie">Moive</label>
				<div class="controls">
					 <select id="movie" name="movie" class="span3">
					$for i in movie:
						<option value="$i['id']">$i['id']:$i['name']</option>
					 </select>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="music">Music</label>
				<div class="controls">
					 <select id="music" name="music" class="span3">
					$for i in music:
						<option value="$i['id']">$i['id']:$i['name']</option>
					 </select>
				</div>
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary" >Create</button>
			</div>
		</fieldset>
	</form>
</div>               
