	<form accept-charset="UTF-8" action="/new?type=1" method="post">
		<label>cover</label>
		<input name="url"  placeholder="url" type="url"><br/>
		<label>name:</label>
		<input name="name" placeholder="name" type="text"><br/>
		<label>singer:</label>
		<input name="singer" placeholder="singer" type="text"><br/>
		<label>lrc:</label>
		<input name="lrc" placeholder="lrc_author" type="text"><br/>
		<label>rhythm:</label>
		<input name="rhythm" placeholder="rhythm_author" type="text"><br/>
		<button type="submit" class="btn" >Create</button><br/>
	</form>
          
