
	<form action="/new?type=2" method="post">
		<label>cover</label>
		<input name="url"  placeholder="url" type="url"><br/>
		<label>name:</label>
		<input name="name" placeholder="name" type="text"><br/>
		<label>director:</label>
		<input name="director" placeholder="director" type="text"><br/>
		<label>date:</label>
		<input name="date" placeholder="date" type="date"><br/>
		<label>language:</label>
		<input name="language" placeholder="language" type="text"><br/>
		<label>length:</label>
		<input name="length" placeholder="minus" type="text"><br/>
		<label>actor:</label>
		<input name="actor" placeholder="use,to split" type="text"><br/>
		<label>abstract:</label>
		<textarea name="abstract" placeholder="abstract" type="text"></textarea><br/>
		<button type="submit" class="btn" >Create</button><br/>
	</form>
          
