$def with(one,comments,fd,type)
	<div>
		<div style="float: left;">
			<a class="thumbnail">
				<img width="120px" height="120px"src="$one['url']">
			</a>
		</div>
			<div style="margin-left:150px;">
		<ul>
				<span><a href="/$type?id=$one['id']"><h4>$one['name']</h4></a></span>
			$for i in one:
				$if i!='id' and i!='url' and i!='name' and i!='comments_num':	
					<li>
						<span style="color:gray;">$i:</span>
						<span>$one[i]</span>
					</li>
		</ul>
			<p>
				<span style="color:gray;">comments</span>
				<span><b>$one['comments_num']</b></span>
			</p>
			<p>
			$if fd:
				<a href="delete?type=$type&id=$one['id']">delete</a>
			</p>
		</div>
	</div>
$:comments
<form action="/$type?id=$one['id']" method="post">
	<textarea style="resize:none;width:70%;" placeholder="Put your comment" name="content"></textarea>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
