$def with(header)
<html>
  <head>
    <title></title>
  </head>
  <body>
	$:header

	<form action="/signup" method="post">
		name:
		<input name="name" placeholder="name" type="text"><br/>
		email:
		<input name="email" placeholder="email" type="email"><br/>
		gender:
		<input name="gender" type="radio" value="1" checked="">Famale
		<input name="gender" type="radio" value="0">Male<br/>
		password:
		<input name="passwd" placeholder="password" type="password"><br/>
		password confirm:
		<input name="passwd_confirm" placeholder="password_confirm" type="password"><br/>
		birth:
		<input name="birth"  type="date"><br/>
		school:
		<input name="school" placeholder="school" type="text"><br/>
		major:
		<input name="major" placeholder="major" type="text"><br/>
		<button type="submit">Submit</button><br/>
	</form>
  	<hr>
    <footer>
          <p>&copy; Forwil&Lixue 2013</p>
    </footer>
  </body>
</html>
