	<form action="/signup" method="post">
		<label>name:</label>
		<input name="name" placeholder="name" type="text"><br/>
		<label>email:</label>
		<input name="email" placeholder="email" type="email"><br/>
		<label>gender:</label>
		<input name="gender" type="radio" value="1" checked="">Famale
		<input name="gender" type="radio" value="0">Male<br/>
		<label>password:</label>
		<input name="passwd" placeholder="password" type="password"><br/>
		<label>password confirm:</label>
		<input name="passwd_confirm" placeholder="password_confirm" type="password"><br/>
		<label>birth:</label>
		<input name="birth"  type="date"><br/>
		<label>school:</label>
		<input name="school" placeholder="school" type="text"><br/>
		<label>major:</label>
		<input name="major" placeholder="major" type="text"><br/>
		<button type="submit" class="btn" >Submit</button><br/>
	</form>
          
