$def with(user,flag,groups)
<div class="container">
		<a class="pull-left thumbnail">
			<div>
				<img src="http://www.gravatar.com/avatar/$user['token']?s=120"></img>
			</div>
			<div>
				<span style="color:gray;">Name:</span>
				<span>$user["name"]</span>
			</div>
		</a>
		<div class="row offset2">
			<div>
				<span style="color:gray;">Gender:</span>
				<span>
				$if user["gender"]==1:
					♂
				$else:
					♀</span>
			</div>

			<div>
				<span style="color:gray;">School:</span>
				<span>$user["school"]</span>
			</div>
			<div>
				<span style="color:gray;">Major:</span>
				<span>$user["major"]</span>
			</div>
			<div>
				<span style="color:gray;">Birth:</span>
				<span>$user["birth"]</span>
			</div>
		$if flag:
			<div>
				<a class="btn btn-primary" href="edit?type=user&id=$user['id']">Edit</a>
			</div>
		</div>
</div>
$if groups!=():
	<h3>Joined groups</h3>
	<div class="well">
		<div class="container">
		$for group in groups:
			<div>
				<a class="pull-left thumbnail" href="ggroup?id=$group['id']">
					<div style="width:80px;height:80px;">
						<img src="$group['url']"></img>
					</div>
					$group["name"]
				</a>
			</div>
		</div>
	</div>
