$def with(user,flag)
<div class="container">
	<div class="hero-unit">
		<a class="pull-left thumbnail">
			<div>
				<img src="http://www.gravatar.com/avatar/$user['token']?s=120"></img>
			</div>
			<div>
				<span style="color:gray;">Name:</span>
				<span>$user["name"]</span>
			</div>
		</a>
		<div class="row offset2">
			<div>
				<span style="color:gray;">Gender:</span>
				<span>
				$if user["gender"]==1:
					♂
				$else:
					♀</span>
			</div>

			<div>
				<span style="color:gray;">School:</span>
				<span>$user["school"]</span>
			</div>
			<div>
				<span style="color:gray;">Major:</span>
				<span>$user["major"]</span>
			</div>
			<div>
				<span style="color:gray;">Birth:</span>
				<span>$user["birth"]</span>
			</div>
		$if flag:
			<div>
				<a class="btn btn-primary" href="edit?type=user&id=$user['id']">Edit</a>
			</div>
		</div>
	</div>
</div>
